/**************

COMMOM

********/

body{
    font-family:"monospace",sans-serif;
}

.navbar {
    --bs-navbar-padding-y: .5rem !important;
}

#navbar .container {
    width: 100% !important;
    padding: none !important;
    justify-content: space-between;
}

.navbar-brand{
    color: rgb(238, 255, 0) !important ;
}

.font-primary{
    color: purple;
    font-size: 60px;
    font-weight: 800;

}

.title-icon{
    font-size: 20px;
    font-weight: bold;
}

p {
    font-size: 14px;
}

h2 {
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 20px;
    color: rgb(238, 255, 0);
}

a.font-black {
    font-size: 25px;
    color: purple; 
    font-weight: 600;
}


/********

ABOUT

*********/

#about {
    margin: 60px auto;
    max-width: 400px;
    text-align: center;
}


#about img {
    border-radius: 50%;
    width: 200px;
    margin-bottom: 10px;
}

#about .name {
    font-size: 25px;
    font-weight: 700;
    color: rgb(238, 255, 0)
}

#about .vocation {
    font-size: 20px;
    color:rgb(238, 255, 0);
    margin-bottom: 10px;
    font-weight: 500;
}

#about .skills{
    font-size: 15px;
    color: white;
    margin-bottom: 10px;
}

#about p {
    color: white;
}

#about .email{
    color: rgb(238, 255, 0);
    margin-top: 14px;
    font-size: 20px;
}

#about .icons{
    margin-top: 20px;
    font-size: 30px;
}

#about .icons a {
    color: gold;
}


/************

PROJECT

************/

#projects{
    margin: 60px auto;
    width: 80%;
}

#projects h2{
    text-align: center;
    font-size: 35px;
}

#projects .card {
    background: none;
    border: none;
    color: white;
}

#projects .card img {
    width: 100%;
    padding-top: 20px;
}

#projects .card-title {
    font-weight: bold;
    font-size: x-large;    
}

#projects .text-muted {
    color: white !important;
}

#projects .btn-secondary{
    color: gold !important;
    
    
}